h1= title
p Welcome to #{title}
form(action='/signup',method='post')
    label Enter your name:
        input(name='username')
    div(data-role='fieldcontain')
        label(for='savename') Save
        input(type='submit', name='savename', value='Submit Name')
p Brought to you by  #{author}

ul(data-bind="foreach: Rows")
    li
        input(type='text', data-bind="value: username")
        span -
        span(data-bind="text: firstname")
input(type='button', onclick='saveUsers();', value='Save Changes')

ul(data-bind="foreach:AuditTrailObjects")
    li
        span(data-bind="text: Action")
        span by
        span(data-bind="text: User")

script(type='text/javascript')
    var socket = io.connect();
      socket.on('news', function (data) {
        console.log(data);
        socket.emit('my other event', { my: 'data' });
      });
      socket.on('auditTrail', function(data) {
        console.log(data);
        var atData = ko.mapping.fromJS(data);
        // update knockout array
        vm.AuditTrailObjects.push(atData);
      });
    var vmData = !{JSON.stringify(userslist)};
    var vm = ko.mapping.fromJS(vmData);

    var auditItem = new Object();
    auditItem.Action = "ClientInit";
    auditItem.User = "USERNAME";
    vm.AuditTrailObjects = ko.observableArray([]);
    vm.AuditTrailObjects.push(auditItem);

    ko.applyBindings(vm);

    function saveUsers() {

        var jsonData = ko.toJS(vm);
        // alert(jsonData);
        // alert(JSON.stringify(jsonData));
        $.ajax({
          url: '/saveUsers',
          type: 'POST',
          dataType:'JSON',
          data: {workaround: JSON.stringify(jsonData)},
          success: function(response){
            /*var auditItem = new Object();
            auditItem.Action = "SaveUsers";
            auditItem.User = "USERNAME";
            console.log(response);*/
            // socket.emit('auditTrail', auditItem);
          }
        });
        /*$.post("/saveUsers", jsonData, function(returnedData) {
            // This callback is executed if the post was successful
            alert(returnedData);
        })*/
    }