!!! 5
html(lang='en')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/date.format.js')
    script(type='text/javascript', src='/javascripts/jquery-1.7.2.min.js')
    script(type='text/javascript', src='/javascripts/knockout-2.1.0.js')
    script(type='text/javascript', src='/javascripts/knockout.mapping-latest.js')
    script(type='text/javascript', src='/socket.io/socket.io.js')
  body
    h1 
      a(href="/")= title
    p Welcome to #{title}
    div!= body