form(action='/statusimport',method='post')
    Click the magic button to import status data to the database.
    div(data-role='fieldcontain')
        label(for='savename') Import
        input(type='submit', name='ImportButton', value='Import Status')